div{
    display: inline-block;
    width: 30%;
    margin-left:2%;
    vertical-align: top;
}

span{
    font-weight: bold;
}

h1{
    text-align: center;
}

img {
    max-width:100%;
    align: middle;
}

h1{
    color: blue
}

p{
    color: darkviolet
}

li{
    border: 1px yellow solid
}

span{
    border: 1px darkcyan dotted
}