div{
    display: inline-block;
    width: 30%;
    margin-left:2%;
    vertical-align: top;
}

span{
    font-weight: bold;
}

h1{
    text-align: center;
}

img {
    max-width:100%;
    align: middle;
}